/* Enter your custom styles here */
.zCentralData{
    /* border-radius: 10px !important;
     margin: 3rem !important;
     height: 9rem !important;
     width: 12rem !important;
     box-shadow: none !important; */
     background-color: darkgrey !important;
 }